body {
  background: url("/img/bg-pattern.png"), repeat, linear-gradient(to right, red 0%, #663399 100%);
  background-attachment: fixed;
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  margin: 0;
}

nav {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  color: yellow;
}
nav.navbar {
  display: inline;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
nav.navbar div {
  display: inline;
}
nav.navbar div a {
  display: block;
  float: left;
  text-align: center;
  color: yellow;
  text-decoration: none;
  padding: 14px 16px;
}
nav.navbar div a:hover {
  color: white;
}
nav.navbar div ul {
  display: inline;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
nav.navbar div ul li {
  float: right;
  display: inline;
  text-align: center;
}
nav.navbar div ul li a {
  display: block;
  color: lightgray;
  padding: 14px 16px;
  text-decoration: none;
}
nav.navbar div ul li a:hover {
  color: white;
}
nav.navbar button {
  display: none;
}
nav.bg-white {
  background-color: white;
}
nav.bg-white div ul li a {
  color: black;
}
nav.bg-white div a {
  color: black;
}

header {
  margin-top: 60px;
}
header section {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 5rem;
  margin-right: 5rem;
}
header section .media {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 5rem;
  color: white;
  text-align: center;
}
header section .media h1 {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: lighter;
}
header section .media a {
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 8rem;
  margin-right: 8rem;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5rem;
}
header section .media a:hover {
  color: #ffbb33;
  border: 1px solid #ffbb33;
}
header section .img-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
header section .img-phone img {
  max-width: 60%;
}

main section#download {
  background-color: #ffbb33;
  padding: 5rem;
}
main section#download div {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 5rem;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
}
main section#download div h1 {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: lighter;
  margin-left: 22rem;
  margin-right: 22rem;
  margin-bottom: 0;
}
main section#download div p {
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
main section#download nav {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: column;
  margin-top: 0;
}
main section#download nav .mr-1 img {
  width: 200px;
}
main section#download nav .ml-1 img {
  width: 200px;
}
main section#features {
  background-color: white;
  padding: 5rem;
  padding-bottom: 1rem;
}
main section#features div {
  display: grid;
  justify-content: center;
  align-content: center;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
}
main section#features div h1 {
  margin-top: 0;
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  margin-left: 22rem;
  margin-right: 22rem;
  margin-bottom: 0;
}
main section#features div p {
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  margin-top: 0;
  color: grey;
}
main section#features div hr {
  background-color: gray;
  color: gray;
  width: 10%;
}
main section#features .content {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 0;
}
main section#features .content .img-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
main section#features .content .img-phone img {
  max-width: 60%;
}
main section#features .content div {
  display: grid;
  grid-template-columns: auto auto;
}
main section#features .content div div {
  display: flex;
  flex-direction: column;
  color: #5c5b5b;
  font-weight: lighter;
}
main section#features .content div div i {
  font-size: 5rem;
}
main section.telo {
  background: url("/img/bg-cta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
main section.telo div {
  padding: 5rem;
  font-size: 2.5rem;
  color: white;
  margin: 8rem;
}
main section.telo div h1 {
  margin-top: 0;
  font-weight: lighter;
}
main section.telo div a {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 15px 50px;
  border: 1px solid white;
  border-radius: 5rem;
}
main section.telo div a:hover {
  color: #ffbb33;
  border: 1px solid #ffbb33;
}
main section div#contact {
  background-color: #ffbb33;
  padding: 5rem;
  text-align: center;
  font-size: 2rem;
}
main section div#contact h1 {
  font-weight: lighter;
}
main section div#contact nav a i {
  color: white;
}

footer {
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  background-color: #262626;
  padding: 1rem;
  text-align: center;
  color: gray;
}
footer p {
  margin-top: 0;
}
footer nav {
  color: gray;
}
footer nav a {
  margin-right: 1rem;
}
footer nav a:hover {
  color: yellow;
}

@media screen and (max-width: 992px) {
  nav button {
    display: initial;
  }
}

/*# sourceMappingURL=main.css.map */
