body {
    background: url("/img/bg-pattern.png"), repeat, linear-gradient(to right, red 0%, #663399 100%);
    background-attachment: fixed;
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
    margin: 0;
}

nav {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    color: yellow;

    &.navbar {
        position: fixed;
        width: 100%;

        ul {
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            color: grey;
        }
    }

    &.bg-white {
        background-color: white;
        color:grey;
    }

    a:hover {
        color: white;
    }
}

footer {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 992px) {

}